ul li{
    float: left;
    list-style-type:none;
    margin-left: 10px;
}

.img-file-thumbnail{
    width: 150px;
    height: 150px;
}

.img-desc{
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}

.folder-bg{
    background: url("../img/folder.png") no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    width: 120px;
    height: 135px;
    margin: 0 auto;
}